/*******************
*      Reset       *
*******************/
*{
    margin: 0px;
    padding: 0px;
}

/*******************
*  Main container  *
*******************/

html{
    font-size: 16px;
}

body{
    background-color: floralwhite;
}

#main-container{
    max-width: 900px;
    position: relative;
    margin: 0 auto;
    font-family: Droid Sans;
}

/*******************
*      Images      *
*******************/

figure{
    width: 260px;
    border: solid #7a1f1f;
    padding: 5px;
}

    figure img{
        width: 260px;
        height: 260px;
    }

    figure figcaption{
        text-align: center;
        background-color: aliceblue;
    }

        figure figcaption a{
            color: cornflowerblue;
        }

/*******************
*      Header      *
*******************/

header{
    display: flex;
    align-items: center;
    background-color: white;
    height: 150px;
    padding: 10px;
}

    header #logo-ceed{
        height: 100px;
    }

    header #title{
        font-size: 4rem;
        font-family: Yanone Kaffeesatz;
        text-align: center;
        margin-left: 110px;
    }

@media (max-width:600px){
    
    header{
        flex-flow: column;
        height: 230px;
    }
    
        header #title{
            font-size: 3rem;
            margin: 30px 30px 5px 30px;
        }
}

/*******************
*      Footer      *
*******************/

footer{
    background-color: #ffeecc;
    margin: 10px;
    padding: 20px 20px 20px 20px;
}

/*******************
*   Presentation   *
*******************/

#presentation .paragraph{
    display: flex;
    margin: 30px;
    color: cornflowerblue;
}

    #presentation .paragraph .paragraph-outer{
        /* Contenedor extra añadido para mantener el texto
        centrado tanto vertical como horizontalmente */
        display: flex;
    }

        #presentation .paragraph .paragraph-outer .paragraph-inner{
            margin: auto;
            width: 70%;
            font-size: 1.4rem;
            text-align: center;
        }


@media (max-width:760px){
    
    #presentation .paragraph{
        flex-flow: column nowrap;
        align-items: center;
    }    
    
    #presentation .paragraph .paragraph-outer{
        margin-top: 10px;
    }
}

@media (max-width:400px){
    
    #presentation .paragraph .paragraph-outer .paragraph-inner{
        font-size: 1.2rem;
        width: 100%;        
    }
}
/*******************
*Circumstances-menu*
*******************/

/*Las siguientes reglas afectan a la barra de iconos que sirven para hacer 
aparecer los elementos ocultos que contienen la historia. */

#circumstances-menu{
    margin: 80px 0 120px 0;
}

    #circumstances-menu h2{
        text-align: center;
        padding: 10px;
        color: cornflowerblue;
    }

    #circumstances-menu #icons{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

        #circumstances-menu #icons .icon{
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            margin-top: 40px;
        }

            #circumstances-menu #icons .icon .icon__img{
                margin: 2px;
                width: 150px;
                height: 150px;
                border-style: groove;
                border-radius: 10%;
                box-shadow: -2px -1px         
            }

            #circumstances-menu #icons .icon button{
                width: 80px;
                height: 30px;
                background-color: white;
                box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
                border-radius: 30%;
                font-size: 1.5rem;
                font-weight: bold;
                text-align: center;
            }

@media (max-width:810px){
    
    #circumstances-menu #icons{
        justify-content: space-around; 
    }

        #circumstances-menu #icons .icon .icon__img{
            width: 200px;
            height: 200px;             
        }
}

@media (max-width:480px){
    
    #circumstances-menu #icons{
        flex-flow: column wrap;
        align-content: center;
    }

        #circumstances-menu #icons .icon .icon__img{
            width: 250px;
            height: 250px;
    }
}

/*******************
*  Circumstances   *
*******************/

#circumstances .circumstance{
    position: fixed;
    /*Por defecto aparece arriba y con la altura a 0 para luego aplicar un efecto cortina*/
    top: 0%;
    height: 0%;
    width: 100%;
    max-width: 900px; /*Evita que sea mayor al tamaño del contenedor*/
    background-image: url(../images/papyrus.png);
    background-size: 700px 900px;
    background-repeat: no-repeat;
    background-position: 50%; 
    background-color: white;
    overflow-y: scroll;
}

    #circumstances .circumstance button{
        position: absolute;
        right: 5%;
        top: 50px;
        background-color: red;
        color: white;
        font-weight: 900;
        font-size: 1.7rem;
        text-align: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    #circumstances .circumstance figure{
        position: absolute;
        opacity: 1; /*Para animacion*/
        top: 170px;
        left: 50%;
        /*Ponemos la imagen en la mitad de la pagina y luego realizamos 
        un desplazamiento igual a la mitad del tamaño del figure*/
        margin-left: -135px;;
    }

    #circumstances .circumstance h3,
    #circumstances .circumstance p{
        text-align: center;
        opacity: 1; /*Para animacion*/
        text-shadow: 1px 1px 10px white, 1px 1px 5px white , 1px 1px 10px white;
        left: 50%;        
    }

    #circumstances .circumstance h3{
        position: absolute;
        top: 90px;
        margin-left: -155px;
        width: 300px;
        padding: 5px;
        font-size: 1.4rem;
    }

    #circumstances .circumstance p{
        position: absolute;
        top: 520px;
        margin-left: -153px;
        width: 260px;
        padding: 0px 15px 5px 15px;  
        font-weight: 700;  
        font-family: Poppins;
        height: 200px;      
        overflow-y: scroll;    
    }

@media (max-width:480px){
    
    #circumstances .circumstance figure{
        top: 140px;    
    }
    
    #circumstances .circumstance h3{
        top: 60px;  
    }
    
    #circumstances .circumstance p{
        top: 480px; 
    }   
    
    #circumstances .circumstance button{
        top: 30px;
    }
}
/********************************
*Circumstances-menu icons effect*
*********************************/

/*Aqui se define un efecto de hover para los iconos del menu. Dependiendo del tamaño de la pagina cada icono tendra un efecto diferente*/

.icon:hover{
    z-index: 1;
}

.icon:nth-child(1):hover,
.icon:nth-child(2):hover{
    transform: rotate(4deg) scale(1.4) translateX(20px);
}

.icon:nth-child(3):hover{
    transform: scale(1.4);
}

.icon:nth-child(4):hover,
.icon:nth-child(5):hover{
    transform: rotate(-4deg) scale(1.4) translateX(-20px);
}

.icon:hover button{
    background-color: palevioletred !important;
    color:white!important;
}

@media (max-width:810px){

    .icon:nth-child(1):hover,
    .icon:nth-child(4):hover{
        transform: rotate(4deg) scale(1.4) translateX(40px);
    }
    
    .icon:nth-child(2):hover{
        transform: scale(1.4);
    }

    .icon:nth-child(3):hover,
    .icon:nth-child(5):hover{
        transform: rotate(-4deg) scale(1.4) translateX(-40px);
    }
}

@media (max-width:640px){

    .icon:nth-child(1):hover,
    .icon:nth-child(3):hover{
        transform: rotate(4deg) scale(1.4) translateX(40px);
    }
    
    .icon:nth-child(5):hover{
        transform: scale(1.4);
    }

    .icon:nth-child(2):hover,
    .icon:nth-child(4):hover{
        transform: rotate(-4deg) scale(1.4) translateX(-40px);
    }
}

@media (max-width:480px){
    #icons .icon:hover{
        transform: rotate(0.0deg) scale(1.1) translateX(0px);
    }
}

/**************************
*Circumstances iconos menu*
**************************/
/*Esta clase se aplica a los iconos cuando se hace visible una circustancia*/

.visible{
    visibility: hidden;
}

/**************************
*Circumstances blindEffect*
**************************/

/*Se define la clase que generara el efecto de persiana y se le aplica 
como transicion a los elementos ocultos. */

#circumstances .circumstance{
    transition: height 0.3s linear;
}

.blindEffect {
    height: 100% !important;
}

/***************************
*Circumstances efectofadein*
***************************/
#circumstances .circumstance h3,
#circumstances .circumstance p,
#circumstances .circumstance figure{
    /*Se le aplica un delay para evitar que se solape con el efecto blind*/
    transition: opacity 0.3s linear 0.3s; 
}

.fadein{
    opacity: 0 !important;
}