/********************************
*Circumstances-menu icons effect*
*********************************/

/*Aqui se define un efecto de hover para los iconos del menu. Dependiendo del tamaño de la pagina cada icono tendra un efecto diferente*/

.icon:hover{
    z-index: 1;
}

.icon:nth-child(1):hover,
.icon:nth-child(2):hover{
    transform: rotate(4deg) scale(1.4) translateX(20px);
}

.icon:nth-child(3):hover{
    transform: scale(1.4);
}

.icon:nth-child(4):hover,
.icon:nth-child(5):hover{
    transform: rotate(-4deg) scale(1.4) translateX(-20px);
}

.icon:hover button{
    background-color: palevioletred !important;
    color:white!important;
}

@media (max-width:810px){

    .icon:nth-child(1):hover,
    .icon:nth-child(4):hover{
        transform: rotate(4deg) scale(1.4) translateX(40px);
    }
    
    .icon:nth-child(2):hover{
        transform: scale(1.4);
    }

    .icon:nth-child(3):hover,
    .icon:nth-child(5):hover{
        transform: rotate(-4deg) scale(1.4) translateX(-40px);
    }
}

@media (max-width:640px){

    .icon:nth-child(1):hover,
    .icon:nth-child(3):hover{
        transform: rotate(4deg) scale(1.4) translateX(40px);
    }
    
    .icon:nth-child(5):hover{
        transform: scale(1.4);
    }

    .icon:nth-child(2):hover,
    .icon:nth-child(4):hover{
        transform: rotate(-4deg) scale(1.4) translateX(-40px);
    }
}

@media (max-width:480px){
    #icons .icon:hover{
        transform: rotate(0.0deg) scale(1.1) translateX(0px);
    }
}

/**************************
*Circumstances iconos menu*
**************************/
/*Esta clase se aplica a los iconos cuando se hace visible una circustancia*/

.visible{
    visibility: hidden;
}

/**************************
*Circumstances blindEffect*
**************************/

/*Se define la clase que generara el efecto de persiana y se le aplica 
como transicion a los elementos ocultos. */

#circumstances .circumstance{
    transition: height 0.3s linear;
}

.blindEffect {
    height: 100% !important;
}

/***************************
*Circumstances efectofadein*
***************************/
#circumstances .circumstance h3,
#circumstances .circumstance p,
#circumstances .circumstance figure{
    /*Se le aplica un delay para evitar que se solape con el efecto blind*/
    transition: opacity 0.3s linear 0.3s; 
}

.fadein{
    opacity: 0 !important;
}
