/*******************
*Circumstances-menu*
*******************/

/*Las siguientes reglas afectan a la barra de iconos que sirven para hacer 
aparecer los elementos ocultos que contienen la historia. */

#circumstances-menu{
    margin: 80px 0 120px 0;
}

    #circumstances-menu h2{
        text-align: center;
        padding: 10px;
        color: cornflowerblue;
    }

    #circumstances-menu #icons{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

        #circumstances-menu #icons .icon{
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            margin-top: 40px;
        }

            #circumstances-menu #icons .icon .icon__img{
                margin: 2px;
                width: 150px;
                height: 150px;
                border-style: groove;
                border-radius: 10%;
                box-shadow: -2px -1px         
            }

            #circumstances-menu #icons .icon button{
                width: 80px;
                height: 30px;
                background-color: white;
                box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
                border-radius: 30%;
                font-size: 1.5rem;
                font-weight: bold;
                text-align: center;
            }

@media (max-width:810px){
    
    #circumstances-menu #icons{
        justify-content: space-around; 
    }

        #circumstances-menu #icons .icon .icon__img{
            width: 200px;
            height: 200px;             
        }
}

@media (max-width:480px){
    
    #circumstances-menu #icons{
        flex-flow: column wrap;
        align-content: center;
    }

        #circumstances-menu #icons .icon .icon__img{
            width: 250px;
            height: 250px;
    }
}

/*******************
*  Circumstances   *
*******************/

#circumstances .circumstance{
    position: fixed;
    /*Por defecto aparece arriba y con la altura a 0 para luego aplicar un efecto cortina*/
    top: 0%;
    height: 0%;
    width: 100%;
    max-width: 900px; /*Evita que sea mayor al tamaño del contenedor*/
    background-image: url(../images/papyrus.png);
    background-size: 700px 900px;
    background-repeat: no-repeat;
    background-position: 50%; 
    background-color: white;
    overflow-y: scroll;
}

    #circumstances .circumstance button{
        position: absolute;
        right: 5%;
        top: 50px;
        background-color: red;
        color: white;
        font-weight: 900;
        font-size: 1.7rem;
        text-align: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    #circumstances .circumstance figure{
        position: absolute;
        opacity: 1; /*Para animacion*/
        top: 170px;
        left: 50%;
        /*Ponemos la imagen en la mitad de la pagina y luego realizamos 
        un desplazamiento igual a la mitad del tamaño del figure*/
        margin-left: -135px;;
    }

    #circumstances .circumstance h3,
    #circumstances .circumstance p{
        text-align: center;
        opacity: 1; /*Para animacion*/
        text-shadow: 1px 1px 10px white, 1px 1px 5px white , 1px 1px 10px white;
        left: 50%;        
    }

    #circumstances .circumstance h3{
        position: absolute;
        top: 90px;
        margin-left: -155px;
        width: 300px;
        padding: 5px;
        font-size: 1.4rem;
    }

    #circumstances .circumstance p{
        position: absolute;
        top: 520px;
        margin-left: -153px;
        width: 260px;
        padding: 0px 15px 5px 15px;  
        font-weight: 700;  
        font-family: Poppins;
        height: 200px;      
        overflow-y: scroll;    
    }

@media (max-width:480px){
    
    #circumstances .circumstance figure{
        top: 140px;    
    }
    
    #circumstances .circumstance h3{
        top: 60px;  
    }
    
    #circumstances .circumstance p{
        top: 480px; 
    }   
    
    #circumstances .circumstance button{
        top: 30px;
    }
}