/*******************
*      Reset       *
*******************/
*{
    margin: 0px;
    padding: 0px;
}

/*******************
*  Main container  *
*******************/

html{
    font-size: 16px;
}

body{
    background-color: floralwhite;
}

#main-container{
    max-width: 900px;
    position: relative;
    margin: 0 auto;
    font-family: Droid Sans;
}

/*******************
*      Images      *
*******************/

figure{
    width: 260px;
    border: solid #7a1f1f;
    padding: 5px;
}

    figure img{
        width: 260px;
        height: 260px;
    }

    figure figcaption{
        text-align: center;
        background-color: aliceblue;
    }

        figure figcaption a{
            color: cornflowerblue;
        }

/*******************
*      Header      *
*******************/

header{
    display: flex;
    align-items: center;
    background-color: white;
    height: 150px;
    padding: 10px;
}

    header #logo-ceed{
        height: 100px;
    }

    header #title{
        font-size: 4rem;
        font-family: Yanone Kaffeesatz;
        text-align: center;
        margin-left: 110px;
    }

@media (max-width:600px){
    
    header{
        flex-flow: column;
        height: 230px;
    }
    
        header #title{
            font-size: 3rem;
            margin: 30px 30px 5px 30px;
        }
}

/*******************
*      Footer      *
*******************/

footer{
    background-color: #ffeecc;
    margin: 10px;
    padding: 20px 20px 20px 20px;
}
