/*******************
*   Presentation   *
*******************/

#presentation .paragraph{
    display: flex;
    margin: 30px;
    color: cornflowerblue;
}

    #presentation .paragraph .paragraph-outer{
        /* Contenedor extra añadido para mantener el texto
        centrado tanto vertical como horizontalmente */
        display: flex;
    }

        #presentation .paragraph .paragraph-outer .paragraph-inner{
            margin: auto;
            width: 70%;
            font-size: 1.4rem;
            text-align: center;
        }


@media (max-width:760px){
    
    #presentation .paragraph{
        flex-flow: column nowrap;
        align-items: center;
    }    
    
    #presentation .paragraph .paragraph-outer{
        margin-top: 10px;
    }
}

@media (max-width:400px){
    
    #presentation .paragraph .paragraph-outer .paragraph-inner{
        font-size: 1.2rem;
        width: 100%;        
    }
}